.container-top{
    margin-top: 29px;
}
.grid-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gird-item-article-top{
    grid-column: 1/4;
    grid-row: 1/1;
    margin: 0;
}
.articles-top{
    display: flex;
    justify-content: flex-start;
    max-width: 1023px;
    margin-bottom: 17px;
}

.article-top1, .article-top2, .article-top3{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start; 
}
.number{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 67px;
    color: #C6003B;
}
.link-title-top1,.link-title-top2,.link-title-top3{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.link-title-top1{
    margin: 4px 0px 0 28px;
    max-width: 228px;
    height: 75px;
}
.link-title-top2{
    margin: 2px 0 0 24px;
    max-width: 220px;
    height: 73px;
}
.link-title-top3{
    margin: 3px 0px 0 23px;
    max-width: 220px;
    height: 101px;
}
.border-top1, .border-top2{
    width: 0px;
    height: 84px;
    border: 1px solid #000000;
}
.border-top1{
    margin: 6px 34px 0 33px;
}
.border-top2{
    margin: 6px 31px 0 29px;
}
.gird-item-banner-top{
    grid-column: 1/4;
    grid-row: 2/6; 
}
.content-left-img{
    height: auto;
    width: 100%;
    max-width: 1023px;
    background: linear-gradient(180deg,
        rgba(196, 196, 196, 0) 20.75%,
        rgba(50, 40, 40, 0.8) 71.08%);
    background-blend-mode: multiply;
    border-radius: 15px;
}
.content-left-img-ipad{
    display: none;
}
.content-top-img{
    position: absolute;
    margin: -315px 0 0 51px;
}
.btn-top{
display: none;
}
.data-top{
    margin-bottom: 18px;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 109.2%;
    color: #FFFFFF;
}
.top-title-left,.link-top-title-left{
    max-width: 893.14px;
    margin-bottom: 20px;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 111.2%;
    color: #FFFFFF;
}
.top-content-left,.link-top-content-left{
    max-width: 929.82px;
    font-family: Geometria;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 130.2%;
    color: #FFFFFF;
}
.banner-top-ipad{
    display: none;
}
.banner-top-mobile{
    display: none;
}
.content-left-img-mobile{
    display: none;
}
.content-top-img-mobile{
    display: none;
}

@media screen and (max-width: 1024px) {
    .container-top{
        margin-top: 24px;
    }
    .grid-top{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .articles-top{
        display: flex;
        /* justify-content: space-between; */
        /* max-width: 904px; */
        margin-bottom: 27px;
    }
    .article-top1{
        display: flex;
        flex-wrap: nowrap;
        /* justify-content: space-between; */
        /* max-width: 279px; */
        margin-right: 21px;
    }
    .article-top2, .article-top3{
        display: flex;
        flex-wrap: nowrap;
        /* justify-content: space-between; */
        /* max-width: 284px; */
    }

    .gird-item-article-top{
        grid-column: 1/4;
        grid-row: 1/1;
        margin: 0;
    }
    .gird-item-banner-top{
        grid-column: 1/4;
        grid-row: 2/6;
        margin: 0 0 38px 0px;
    }

    .btn-top{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: 161px 0 0 16px;
        background: none;
        width: 90px;
        height: 28px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: Geometria;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 115.8%;
        color: #FFFFFF;
    }

    .link-title-top1{
        margin: 4px 3px 0 24px;
        max-width: 231px;
        height: 75px;
    }
    .link-title-top2{
        margin: 2px 9px 0 24px;
        max-width: 220px;
        height: 73px;
    }
    .link-title-top3{
        margin: 3px 0px 0 19px;
        max-width: 220px;
        height: 101px;
    }
    .border-top1, .border-top2{
        width: 0px;
        height: 84px;
        border: 1px solid #000000;
        margin: 6px 29px 0 0;
    }
    .content-left-img-ipad{
        display: block;
        max-width: 960px;
        height: auto;
        width: 100%;
        background: linear-gradient(180deg,
            rgba(196, 196, 196, 0) 20.75%, 
            rgba(50, 40, 40, 0.8) 71.08%);
        background-blend-mode: multiply;
        border-radius: 15px;
    }
    .content-top-img{
        margin: -303px 0 0 32px;
    }
    .top-title-left{
        margin-bottom: 14px;
    }
    .content-left-img{
        display: none;
    }
    
    
} 

@media screen and (max-width: 426px) {
    /* .container-top{
        margin-top: 22px;
    }
    .button-group{
        margin: -5px -21px 0 0;
    }
    .button2{
        display: none;
    }
    .data-top{
        margin-left: 8px; 
    }
    .gird-item-title-top{
    grid-column: 1/1;
    grid-row: 2/2;
    margin: 16px 0 18px 3px; 
}
    .top-title-left{
        max-width: 324px;
        font-family: Geometria;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: #000000;
    }
    .gird-item-p-top{
    grid-column: 1/1;
    grid-row: 3/3;
    margin: 0px 0 18px 5px; 
    } */
    /* .top-content-left{
        max-width: 324px;
        font-family: Geometria;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 130.2%;
        color: #000000;
    } */
    .grid-top{
        display: grid;
        grid-template-columns: 1fr;
        /* display: flex; */
        flex-direction: column; 
    }
    .gird-item-article-top{
        grid-column: 1/1;
        grid-row: 2/2;
        margin: 0 auto;
    }
    .gird-item-banner-top{
        grid-column: 1/1;
        grid-row: 1/1;
        display: flex;
        flex-direction: column; 
    }
    .articles-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 324px;
        margin-bottom: 17px;
    }
    .btn-top{
        display: none;
    }
    .content-top-img-mobile{
        display: flex;
        flex-direction: column;
    }
    .content-left-img{
        display: none;
    }
    .content-top-img{
        display: none;
    }
    .content-left-img-ipad{
        display: none;
    }
    /* .gird-item-banner-top{
        margin-left: 3px;
    } */
    /* .banner-top-mobile{
        display: block;
        border-radius: 15px;
    } */
    .content-left-img-mobile{
        display: block;
        border-radius: 15px;
    }
    .data-top-mobile{
        margin-bottom: 18px;
        font-family: Geometria;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 109.2%;
        color: #000;
    }
    .top-title-mobile,.link-top-title-mobile{
        max-width: 893.14px;
        margin-bottom: 20px;
        font-family: Geometria;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 111.2%;
        color: #000;
    }
    .top-content-mobile,.link-top-content-mobile{
        max-width: 929.82px;
        font-family: Geometria;
        font-style: italic;
        font-weight: normal;
        font-size: 20px;
        line-height: 130.2%;
        color: #000;
    }
    /* .img-title-left{
        display: none;
    } */
}