.container-bottom{
    margin: 61px 0 0 0;
}
.wrapper-bottom{
    max-width: 1380px;
    margin: 0 auto;
}
.grid-bottom{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.gird-item-title-bottom{
    grid-column: 1/3;
    grid-row: 1/1;
    margin-bottom:59px;
}
.gird-item-banner-bottom{
    grid-column: 2/2;
    grid-row: 2/6; 
}
.title-article-bottom{
    max-width: 515px;
    text-transform: uppercase;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 57px;
    color: #000000;
}
.content-right-img{
    height: auto;
    width: 100%;
    max-width: 1032px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 20.75%, rgba(50, 40, 40, 0.8) 71.08%);
    background-blend-mode: multiply;
    border-radius: 15px;
}
.content-bottom-img{
    position: absolute;
    margin: -275px 0 0 57px;
}
.data-bottom-right{
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 109.2%;
    color: #FFFFFF;
}
.title-bottom-right{
    max-width: 901px;
    margin: 28px 0 23px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 111.2%;
    color: #FFFFFF;
}
.content-bottom-right{
    max-width: 938px;
    font-family: Geometria;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 130.2%;
    color: #FFFFFF;
}
.banner-top-ipad{
    display: none;
}
.banner-top-mobile{
    display: none;
}

@media screen and (max-width: 1024px) {
    .grid-top{
        grid-template-columns: 1fr;
    }
    .container-top{
        margin: 30px 0 0 0;
    }
    .button1, .button2{
        width: 90px;
        height: 28px;   
    }
    .top-title-left{
        max-width: 780px;
    }
    .top-content-left{
        max-width: 830px;
    }
    .content-left-img{
        display: none;
    }
    .banner-top-ipad{
        display: block;
        max-width: 958.18px;
        margin-left: -1px;
        height: auto;
        width: 100%;
        border-radius: 15px;
    }
    .img-title-left{
        max-width: 130px;
        margin: -35px 0 0 22px;
    }
} 

@media screen and (max-width: 376px) {
    .container-top{
        margin-top: 22px;
    }
    .button-group{
        margin: -5px -21px 0 0;
    }
    .button2{
        display: none;
    }
    .data-top{
        margin-left: 8px; 
    }
    .gird-item-title-top{
    grid-column: 1/1;
    grid-row: 2/2;
    margin: 16px 0 18px 3px; 
}
    .top-title-left{
        max-width: 324px;
        font-family: Geometria;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: #000000;
    }
    .gird-item-p-top{
    grid-column: 1/1;
    grid-row: 3/3;
    margin: 0px 0 18px 5px; 
    }
    .top-content-left{
        max-width: 324px;
        font-family: Geometria;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 130.2%;
        color: #000000;
    }
    .content-left-img{
        display: none;
    }
    .banner-top-ipad{
        display: none;
    }
    .gird-item-banner-top{
        margin-left: 3px;
    }
    .banner-top-mobile{
        display: block;
        border-radius: 15px;
    }
    .img-title-left{
        display: none;
    }
}