.grid-center{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.gird-item-title-center{
    grid-column: 1/1;
    grid-row: 1/1;
    margin-bottom: 34px;
}

.title-article-center{
    max-width: 413px;
    text-transform: uppercase;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 57px;
    color: #000000;
}
.gird-item-banners-center{
    grid-column: 1/1;
    grid-row: 2/6;
    display: flex;
    justify-content: space-between;
}
.banner-center{
    width: 100%;
    max-width: 334px;
    height: auto;
    border-radius: 15px;
}
.gird-item-content-center{
    grid-column: 1/1;
    grid-row: 7/8;
    display: flex;
    flex-direction: column;
    margin: 34px 0 28px 0; 
}
.center-title-left{
    max-width: 901px;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 111.2%;
    color: #000000;
}
.center-content-left{
    max-width: 938px;
    margin-top: 24px;
    font-family: Geometria;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 130.2%;
    color: #000000;
}
.banner-top-ipad{
    display: none;
}
.banner-top-mobile{
    display: none;
}

@media screen and (max-width: 1024px) {
    .grid-top{
        grid-template-columns: 1fr;
    }
    .container-top{
        margin: 30px 0 0 0;
    }
    .button1, .button2{
        width: 90px;
        height: 28px;   
    }
    .top-title-left{
        max-width: 780px;
    }
    .top-content-left{
        max-width: 830px;
    }
    .content-left-img{
        display: none;
    }
    .banner-top-ipad{
        display: block;
        max-width: 958.18px;
        margin-left: -1px;
        height: auto;
        width: 100%;
        border-radius: 15px;
    }
    .img-title-left{
        max-width: 130px;
        margin: -35px 0 0 22px;
    }
} 

@media screen and (max-width: 376px) {
    .container-top{
        margin-top: 22px;
    }
    .button-group{
        margin: -5px -21px 0 0;
    }
    .button2{
        display: none;
    }
    .data-top{
        margin-left: 8px; 
    }
    .gird-item-title-top{
    grid-column: 1/1;
    grid-row: 2/2;
    margin: 16px 0 18px 3px; 
}
    .top-title-left{
        max-width: 324px;
        font-family: Geometria;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: #000000;
    }
    .gird-item-p-top{
    grid-column: 1/1;
    grid-row: 3/3;
    margin: 0px 0 18px 5px; 
    }
    .top-content-left{
        max-width: 324px;
        font-family: Geometria;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 130.2%;
        color: #000000;
    }
    .content-left-img{
        display: none;
    }
    .banner-top-ipad{
        display: none;
    }
    .gird-item-banner-top{
        margin-left: 3px;
    }
    .banner-top-mobile{
        display: block;
        border-radius: 15px;
    }
    .img-title-left{
        display: none;
    }
}