.wrapper-marketing{
    max-width: 1379px;
    margin: 0 auto;
}
.wrapper-marketing-ipad{
    display: none;
}
.center-banner, .end-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}
.center-marketing, .end-marketing{
    text-transform: uppercase;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 250;
    font-size: 50px;
    line-height: 115.8%;
    letter-spacing: 0.54em;
    color: #C4C4C4;
}

@media screen and (max-width: 1024px){
    .wrapper-marketing-ipad{
        display: block;
    }
    .center-banner-ipad{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 114px;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
    }
    .center-marketing-ipad{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: 100;
        font-size: 50px;
        text-transform: uppercase;
        line-height: 115.8%;
        letter-spacing: 0.54em;
        color: #C4C4C4;
    }
    .center-banner, .end-banner{
        height: 114px;
    }
}