*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
    overflow-wrap: break-word;
    box-sizing: border-box;
}
section{
    background: #FFF;
}
button{
    background: #fff;
    cursor: pointer;
}
a{
    text-decoration: none;
}

.container{
    max-width: 100%;
    min-width: 320px;
    height: 6029px;
    background: #fff;
}

.wrapper, .wrapper-header, .wrapper-radio{
    max-width: 1381px;
    min-width: 320px;
    margin: 0 auto;
    background: #fff;
}

@media screen and (max-width: 1024px){
    .container{
        height: 5800px;

    }
    .wrapper{
        max-width: 960px;
    }
    .wrapper-marketing{
        max-width: 1024px;
    }
    .wrapper-radio{
        max-width: 1024px;
    } 
}


@media screen and (max-width: 426px){
    .container{
        height: 10359px;
    }
    .container-end-mobile{
        max-width: 375px;
        min-width: 320px;
        height: 1500px;
        background: #fff;
    }
    .wrapper-end{
        display: block;
        max-width: 332px;
        margin: 0 auto;
    } 
    
}