.gird-item-right-top{
    grid-column: 4/4;
    grid-row: 1/6;
    margin: -5px 0 0 31px;
    height: 708px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-right-top{
    margin-bottom: 20px;
    font-family: Geometria;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 117.8%;
    letter-spacing: 0.1em;
    color: #000000;
}
.article-right-top{
    max-width: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.link-right-top{
    text-decoration: none;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 117.8%;
    color: #000000;
}

.data-right-top{
    margin: 16px 0 16px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 109.2%;
    color: #4A4A4A;
}
.border-right-top,.border-right-top123, .border-right-top-max{
    display: block;
    margin-bottom: 21px;
    max-width: 299px;
    height: 0px;
    border: 1px solid #C9C9C9;
}
.border-right-top-ipad{
    display: none;
}


@media screen and (max-width: 1024px){
    
    .gird-item-right-top{
        grid-column: 1/4;
        grid-row: 7/7;
        margin: -26px 0 0 0px;
        height: 433px;
        display: flex;
        flex-wrap: wrap;
    }
    .border-right-top-ipad{
        display: block;
        max-width: 607px;
        height: 0px;
        margin: 19px 0 16px 0;
        border: 1px solid #C9C9C9;
    }
    .border-right-top-max{
        display: none;
    }
    .article-desctop{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .articles-right-top{
        display: flex;
        justify-content: flex-start;
        max-width: 607px;
        height: 309px;
        margin-bottom: 38px;
    }
    .article-right-top123{
        margin: 0 55px 0 0;
    }
    .border-right-top123{
        display: none;
    }
    .border-right-top{
        display: block;
        margin-bottom: 21px;
        max-width: 283px;
        height: 0px;
        border: 1px solid #C9C9C9;
    }
    .title-right-top{
        margin:34px 0 0 0px;
    }
       
} 

@media screen and (max-width: 850px){
    .gird-item-right-top{
        grid-column: 1/4;
        grid-row: 7/7;
        margin: -26px 0 0 0px;
        height: 730px;
        display: flex;
        flex-wrap: wrap;
    }
    .articles-right-top {
        display: flex;
        flex-direction: column;
        height: 600px;
    }
}
@media screen and (max-width: 426px){
    .gird-item-right-top {
        margin: -26px 0 0 5px;
        display: flex;
        height: 430px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .best-article{
        display: flex;
        flex-direction: column;
    }
    .article-desctop{
        display: none;
    }
    .article-right-top{
        max-width: 320px;
        margin: 0 0 0 0;
    }
    .articles-right-top{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .next-content-top{
        display: flex;
        flex-direction: column; 
        margin: 33px 0 0 0px;
    }
    .next-link-top{
        margin-bottom: 9px;
        font-family: Geometria;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 117.8%;
        letter-spacing: 0.1em;
        color: #000;
    }
    .next-line-top{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 108px;
        height: 0px;
        border: 1px solid #000;
        background: #000;
    }
}