.gird-item-right-center{
    grid-column: 2/2;
    grid-row: 2/8;
    margin: 12px 0 0 29px;
    display: flex;
    flex-direction: column;
}
.data-right-center{
    font-family: Geometria;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 109.2%;
    color: #C6003B;
}
.title-right-center1{
    max-width: 299px;
    margin: 22px 0 24px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 115.8%;
    color: #C6003B;
}
.border-right-center-red1,.border-right-center-red2{
    max-width: 260px;
    height: 3px;
    background: #C6003B;
    border-radius: 4px;
}
.title-right-center2{
    max-width: 277px;
    margin: 14px 0 24px 3px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 115.8%;
    color: #C6003B;
}
.title-right-center3{
    max-width: 272px;
    margin: 39px 0 24px 1px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 117.8%;
    letter-spacing: 0.1em;
    color: #000000;
}
.article-right-center1,.article-right-center2,
.article-right-center3,.article-right-center4{
    max-width: 272px;
}
.article-link-right-center1,.article-link-right-center2,
.article-link-right-center3,.article-link-right-center4{
    text-decoration: none;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 117.8%;
    color: #000000;
}
.data-right-center-article1,.data-right-center-article2,
.data-right-center-article3,.data-right-center-article4{
    margin-top: 14px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 109.2%;
    color: #4A4A4A;
}
.border-right-center1,.border-right-center2,
.border-right-center3{
    display: flex;
    max-width: 326px;
    height: 0px;
    border: 1px solid #C9C9C9;
}

@media screen and (max-width: 1024px){
    .gird-item-right-top{
        display: none;
    } 