.gird-item-right-center{
    grid-column: 2/2;
    grid-row: 2/8;
    margin: 12px 0 0 37px;
    display: flex;
    flex-direction: column;
}
.data-right-center{
    font-family: Geometria;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 109.2%;
    color: #C6003B;
}
.title-right-center1, .link-title-right-center1{
    max-width: 299px;
    margin: 22px 0 24px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 115.8%;
    color: #C6003B;
}
.border-right-center-red1,
.border-right-center-red2{
    max-width: 260px;
    height: 3px;
    background: #C6003B;
    border-radius: 4px;
}
.title-right-center2{
    max-width: 277px;
    margin: 14px 0 24px 3px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 115.8%;
    color: #C6003B;
}
.title-right-center3{
    max-width: 272px;
    margin: 39px 0 24px 1px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 117.8%;
    letter-spacing: 0.1em;
    color: #000000;
}
.article-right-center{
    max-width: 272px;
}
.article-link-right-center{
    text-decoration: none;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 117.8%;
    color: #000000;
}
.data-right-center-article{
    margin: 14px 0 18px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 109.2%;
    color: #4A4A4A;
}
.border-right-center1,.border-right-center2,
.border-right-center3{
    display: flex;
    max-width: 326px;
    margin-bottom: 21px;
    height: 0px;
    border: 1px solid #C9C9C9;
}
.border-right-center2{
margin: -3px 0 13px 0;
}
.title-right-center3-ipad{
    display: none;
}
.article-right-center-ipad{
    display: none;
}
.border-right-center-ipad{
    display: none;
}
@media screen and (max-width: 1024px){
    .gird-item-right-center{
        grid-column: 1/1;
        grid-row: 9/10;
        display: flex;
        flex-wrap: wrap;
        margin: 17px 0 0 0px;
        height: 363px;
    }
    .right-center6{
        display: flex;
        flex-direction: column;
        margin-left:16px;
    }
    .article-right-center-ipad{
        display: block;
        max-width: 272px;
        
    }
    .title-right-center1 {
        margin: 37px 0 34px 2px;
    }
    .title-right-center2 {
        margin: 14px 0 24px 7px;
    }
    .title-right-center3{
        display: none;
    }
    .title-right-center3-ipad{
        display: block;
        max-width: 272px;
        margin: 0px 0 20px 1px;
        font-family: Geometria;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 117.8%;
        letter-spacing: 0.1em;
        color: #000000;
    }
    .articles-right-center{
        display: flex;
        justify-content: flex-start;
        max-width: 607px;
        height: 309px;
        margin-top: 11px;
    }
    .article-right-center123{
        margin: 0 55px 0 0;
    }
    .border-right-center-ipad{
        display: flex;
        max-width: 326px;
        margin-bottom: 16px;
        height: 0px;
        border: 1px solid #C9C9C9;
    }
} 