.wrapper-slider-top{
    max-width: 1373px;
    margin: 0 auto;
}
.gird-item-slider-top{
    grid-column: 1/5;
    grid-row: 7/8;
    margin: 12px 0 45px -6px;
}
.content-slider-top{
    display: flex;
    justify-content: space-between;
    background: #fff;
}
.content-slider-article0-top{
    position: absolute;
    max-width: 300px;
    margin: 44px 0 0 37px;
}
.slider-banner0-top{
    max-width: 334px;
    width: 100%;
    height: auto;
}
.slider-border-top{
    margin: 0 0 0 0;
    width: 0px;
    height: 497px;
    border: 1px solid #C4C4C4;
    transform: rotate(-0.1deg);
}
.slider-article0-top{
    display: flex;
    flex-direction: column;
    max-width: 334px;
    height: 497px;
    background: #C6003B;
    border-radius: 15px;
}
.data-slider0-top{
    margin: 0 0 44px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 109.2%;
    color: #FFFFFF;
}
.link-slider0-top{
    max-width: 262px;
    height: 155px;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 115.8%;
    color: #FFFFFF;
}
.slider-border0-top{
    max-width: 260px;
    margin: 46px 0 34px 0;
    height: 3px;
    background: #FFFFFF;
    border-radius: 4px;
}
.slider-p0-top{
    max-width: 277px;
    height: 77px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 115.8%;
    color: #FFFFFF;
}
.link-slider-p0-top{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 115.8%;
    color: #FFFFFF;
}
.slider-article-top{
    display: flex;
    flex-direction: column;
    height: 497px;   
}
.content-article-top{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 12px 0 0 8px;
    height: 180px;
}
.slider-banner-top{
    max-width: 317px;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.link-slider-top{
    max-width: 290px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 115.8%;
    color: #000000;
}
.data-slider1-top,.data-slider2-top,
.data-slider3-top{
    max-width: 113px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 109.2%;
    color: #4A4A4A;
}
.data-slider1-top{
    margin-bottom: 30px;
}
.data-slider2-top{
    margin-bottom: 9px;
}
.data-slider3-top{
    margin-bottom: 9px;
}
.slider-p-top{
    display: flex;
    max-width: 258px;
    margin-top: 9px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 124.8%;
    color: #000000;
}
.slider-article0-top-ipad{
    display: none;
}
.content-top-data-btn,.content-top-data-btn3{
    display: none;
}
.slider-mobile1, .slider-mobile2, 
.slider-mobile3, .btn-next-slider1, 
.btn-slider1,.btn-slider2, .btn-slider3, .slider-border-ipad,
.data-button-mobile, 
.mobile-marketing1, .mobile-marketing2,
.mobile-marketing3, .data-slider-mobile1,
.data-slider-mobile2,.data-slider-mobile3{
    display: none;
}
.slider-banner0-top-mobile{
    display: none;
}
.btn-next-slider-top{
    display: none;
}
.btn-slider-top-1,.btn-slider-top-2,.btn-slider-top-3{
    display: none;
}
@media screen and (max-width: 1024px){
    .wrapper-slider-top{
        max-width: 960px;
        margin: 0 auto;
    }
    
    .gird-item-slider-top{
        grid-column: 1/4;
        grid-row: 8/10;
        margin: 21px 0 45px 0;
    }
    .gird-item-slider-article0-top{
        display: none;
    }
    .grid-content-slider-top{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gird-item-slider-article1-top{
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .gird-item-slider-article2-top{
        grid-column: 2/2;
        grid-row: 1/1;
        display: flex;
        flex-wrap: nowrap;
    }
    .gird-item-slider-article3-top{
        grid-column: 3/3;
        grid-row: 1/1;
        display: flex;
        flex-wrap: nowrap;
    }
    .slider-article0-top-ipad{
        display: flex;
        max-width: 310px;
        height: 433px;
        margin-top: 4px;
    }
    .slider-article0-top{
        display: none;
    }
    .slider-banner0-top{
        max-width: 310px;
        width: 100%;
        height: auto;
    }
    .content-slider-article0-top{
        position: absolute;
        max-width: 300px;
        margin: 29px 0 0 34px;
    }
    .link-slider-p0-top{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 115.8%;
        color: #FFFFFF;
    }
    .data-slider0-top{
        display: none;
    }
    .content-top-data-btn0{
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 25px;
    }
    .link-slider0-top{
        width: 243px;
        height: 155px;
        font-family: Geometria;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 115.8%;
        color: #FFFFFF;
    }
    .data-slider-btn-top0{
        margin: 0 26px 3px 0;
        font-family: Geometria;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 109.2%;
        color: #FFFFFF;
    }
    .btn-slider-top0{
        width: 119px;
        height: 28px;
        margin-top: -8px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 8px;
        background: none;
        font-family: Geometria;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 115.8%;
        color: #FFFFFF;
    }
    .content-top-data-btn{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 53px;
    }
    .content-top-data-btn3{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 31px;
    }
    .slider-border0-top{
        max-width: 242px;
        margin: 46px 0 40px 0;
        height: 3px;
        background: #FFFFFF;
        border-radius: 4px;
    }
    .content-article-top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 16px 0 0 21px;
        height: 180px;
    }
    .data-slider-btn-top{
        margin: 0 0 0 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 109.2%;
    color: #4A4A4A;;
    }
    .btn-slider-top-ipad{
        display: block;
        width: 88px;
        height: 28px;
        margin: -3px 22px 0 0;
        border: 1px solid #000;
        box-sizing: border-box;
        border-radius: 8px;
        background: none;
        font-family: Geometria;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 115.8%;
        color: #000;
    }
    .slider-banner-top{
        max-width: 310px;
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    .link-slider-top {
        max-width: 270px;
    }
    .data-slider1-top,.data-slider2-top,
    .data-slider3-top{
        display: none;
    }
    .slider-border3, .slider-border-ipad, 
    .slider-mobile1, .slider-article4, 
    .slider-mobile2, .slider-mobile3, 
    .btn-next-slider1, .btn-slider1,
    .btn-slider2, .btn-slider3, 
    .data-button-mobile1, .data-button-mobile2,
    .data-button-mobile3, .mobile-marketing1,
    .mobile-marketing2, .mobile-marketing3, 
    .data-slider-mobile1,.data-slider-mobile2,
    .data-slider-mobile3{
        display: none;
    }
    .btn-slider-top-1,.btn-slider-top-2,.btn-slider-top-3{
        display: none;
    }
}

@media screen and (max-width: 426px){
    .wrapper-slider-top {
        max-width: 333px;
        margin: 0 auto;
    }
    .gird-item-slider-top {
       display: flex;
       flex-direction: column;
       margin: 87px 0 8px 0;
    }
    .slider-article-top{
        height: auto;
        margin-bottom: 26px;
    }
    .content-slider-top {
        display: flex;
        flex-direction: column;
        background: #fff;
        margin-left: 3px;
    }
    .btn-slider-top-ipad{
        display: none;
    }
    .slider-img{
        display: flex;
        flex-direction: column; 
    }
    .slider-banner-top {
        max-width: 333px;
        width: 100%;
        height: 280px;
        border-radius: 15px;
    }
    .content-article-top{
        margin: 19px 0 0 0px;
        height: auto;
    }
    .content-top-data-btn {
        margin-bottom: 25px;
    }
    .btn-slider-top-1{
    display: block;
        width: 88px;
        height: 28px;
        margin: -3px 0px 0 0;
        border: 1px solid #000;
        box-sizing: border-box;
        border-radius: 8px;
        background: none;
        font-family: Geometria;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 115.8%;
        color: #000;
    }
    .btn-slider-top-2 {
        display: block;
        width: 116px;
        height: 28px;
        margin: -6px 0 0 0;
        border: 1px solid #000;
        box-sizing: border-box;
        border-radius: 8px;
        background: none;
        font-family: Geometria;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 115.8%;
        color: #000;
    }
    .btn-slider-top-3{
        display: block;
        width: 86px;
        height: 28px;
        margin: -2px -6px 0 0;
        border: 1px solid #000;
        box-sizing: border-box;
        border-radius: 8px;
        background: none;
        font-family: Geometria;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 115.8%;
        color: #000;
    }
    .content-top-data-btn3{
        margin-bottom: 17px;
    }
    .btn-next-slider-top{
        display: block;
        position: absolute;
        margin: 223px 0 0 85px;
        width: 164px;
        height: 38px;
        background: #C6003B;
        border-radius: 8px;
        font-family: Geometria;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 117.8%;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        border: none;

    }
    .link-slider-top{
        max-width: 309px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 24.32px;
        color: #000000;
    }
    .slider-p-top{
        display: flex;
        max-width: 330px;
        margin-top: 9px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19.97px;
        color: #000000;
    }
    .slider-border-top {
        display: none;
    }
    .slider-banner0-top {
        max-width: 333px;
        width: 100%;
        height: 465.13px;
    }
    .slider-article0-top-ipad {
        margin-top: 36px;
    }
    .slider-banner0-top{
        display: none;
    }
    .slider-banner0-top-mobile{
        display: block;
    }

    .content-top-data-btn0 {
        display: flex;
        flex-wrap: nowrap;
        margin: 13px 0 51px 0;
    }
    .data-slider-btn-top0 {
        margin: -4px 45px 0px -2px;
    }
    .link-slider0-top {
        width: 280px;
        height: 155px;
        margin-left: -5px;
        font-family: Geometria;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 115.8%;
        color: #FFFFFF;
    }
    .slider-border0-top {
        margin: 37px 0 36px -6px;
    }
    .slider-p0-top {
        margin-left: -7px;
    }
}