.bg-red{
    margin-top: 40px;
}
.slider-radio{
    max-width: 1920px;
    height: 752px;
    background: #C6003B;
    margin: 0 auto;
}
.container-slider-radio{
    display: flex;
    flex-direction: column;
    background: #C6003B;
}
.content-slider-radio{
    display: flex;
    justify-content: space-between;
    background:  #C6003B;
    margin-bottom: 47px;
}
.title-article-radio{
    max-width: 1381px;
    width: 100%;
    margin: 52px 0 40px 4px;
    text-transform: uppercase;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 57px;
    color: #FFFFFF;
    background:  #C6003B;
}
.slider-article1-radio{
    max-width: 216px;
    height: 502px;
    background: #FFFFFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.slider-article2-radio,
.slider-article3-radio{
    max-width: 333px;
    height: 502px;
    background: #FFFFFF;
    border-radius: 15px;
}
.slider-article4-radio{
    max-width: 334px;
    height: 497px;
    background: #FFFFFF;
    border-radius: 15px;
}
.slider-article5-radio{
    max-width: 117px;
    height: 502px;
    background: #FFFFFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.slider-banner1-radio{
    max-width: 216px;
    width: 100%;
    height: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.slider-banner2-radio,
.slider-banner3-radio{
    max-width: 333px;
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.slider-banner5-radio{
    max-width: 117px;
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.data-slider1-radio{
    margin: 26px 0 14px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}
.link-slider1-radio{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 115.8%;
    color: #000000;
}
.slider-p1-radio{
    margin-top: 13px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 124.8%;
    color: #000000;
}
.data-slider2-radio,.data-slider3-radio{
    margin: 26px 0 14px 28px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}
.link-slider2-radio,.link-slider3-radio{
    max-width: 297px;
    height: 66px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 115.8%;
    color: #000000;
}
.link-radio2,.link-radio3{
    margin:0 0 0 28px;
}
.link-radio5{
    margin:0 0 0 23px;
}
.slider-p2-radio,.slider-p3-radio{
    margin: 14px 0 0 26px;
    max-width: 280px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 124.8%;
    color: #000000;
}
.block-slider4-radio{
    margin: 103px 0 47px 44px;
}
.link-slider4-radio{
    max-width: 262px;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 115.8%;
    color: #000000;
}
.slider4-border-radio{
    max-width: 260px;
    margin: 0 0 33px 44px;
    height: 3px;
    background: #C6003B;
    border-radius: 4px;
}
.slider-p4-radio{
    max-width: 277px;
    margin: 0 0 0 44px;
}
.link-slider-p4-radio{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 115.8%;
    color: #000000;
}
.data-slider5-radio{
    margin: 26px 0 14px 23px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}
.link-slider5-radio{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 115.8%;
    color: #000000;
}
.slider-p5-radio{
    margin: 14px 0 0 24px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 124.8%;
    color: #000000;
}
.slider-banner1-radio-ipad{
    display: none;
}
.link-slider4-radio-ipad,
.slider4-border-radio-ipad,
.slider-p4-radio-ipad{
    display: none;
}
.data-slider4-radio-ipad{
    display: none;
}
.wrapper-article2-end,.slider-article2-radio-end{
    display: none;
}
.next-content{
    display: none;
}
@media screen and (max-width: 1024px){
    .bg-red{
        margin-top: 26px;
    }
    .title-article-radio {
        max-width: 900px;
        margin: 52px 0 40px 41px;
    }
    .link-slider4-radio,
    .slider4-border-radio,
    .slider-p4-radio{
        display: none;
    }
    .data-slider1-radio {
        margin: 26px 0 14px -12px;
    }
    .link-slider1-radio {
        margin:0 50px 0 -22px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 115.8%;
        color: #000000;
    }
    .slider-p1-radio {
        margin:18px 0 0 -27px;
    }
    .data-slider4-radio-ipad{
        display: block;
        margin: -59px 0 -58px 36px;
        font-family: Geometria;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
    }
    .link-slider4-radio-ipad{
        display: block;
        font-family: Geometria;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 115.8%;
        color: #000000;
    }
    .slider4-border-radio-ipad{
        display: block;
        margin: 0 0 33px 44px;
        height: 3px;
        background: #C6003B;
        border-radius: 4px;
    }
    .slider-p4-radio-ipad{
        display: block;
        margin: 0 0 0 44px;  
    }
    .link-slider-p4-radio-ipad{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 115.8%;
        color: 
        #000000;
    }
    .slider-article5-radio{
        display: none;
    }
    .slider-article1-radio {
        margin-left: -11px;
    }
    .slider-banner1-radio{
        display: none;
    }
    .slider-banner1-radio-ipad{
        display: block;
        max-width: 199px;
        height: 260px;
        width: 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .slider-article4-radio{
        width: 131px;
        height: 497px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
@media screen and (max-width: 850px){
    .slider-radio{
        height: 800px;
    }
    .title-article-radio {
        max-width: 450px;
        margin: 52px 0 40px 41px;
    }
    .slider-article1-radio {
        display: none;
    }
    .slider-article2-radio,.slider-article3-radio {
        margin-right: 7px;
    }
}
@media screen and (max-width: 426px){
    .content-slider-radio {
        display: flex;
        flex-direction: column;
        background: #C6003B;
        margin-bottom: 23px;
    }
    .slider-radio {
        max-width: 1920px;
        height: 779px;
        background: #C6003B;
        margin: 0 auto;
    }
    .title-article-radio {
        max-width: 333px;
        width: 100%;
        margin: 26px 0 21px 22px;
        text-transform: uppercase;
        font-family: Gotham Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 110.7%;
        color: #FFFFFF;
        background: #C6003B;
    }
    .slider-article1-radio,
    .slider-article2-radio,
    .slider-article3-radio,
    .slider-article4-radio,
    .slider-article5-radio{
        display: none;
    }
   
    .slider-article2-radio-end{
        display: block;
        max-width: 333px;
        height: 502px;
        background: #FFFFFF;
        border-radius: 15px;
    }
    .wrapper-article2-end{
        display: block;
        max-width: 332px;
        margin: 0 auto;
    } 
    .content-article2-end{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .link-radio2, .link-radio3 {
        margin: 8px 0 0 21px;
    }
    .btn-article2-end{
        width: 61px;
        height: 28px;
        margin: 19px 20px 0px 0;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: Geometria;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 115.8%;
        color: #000000;
    }
    .next-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        margin: 22px 0 0 0;
    }
    .next-link{
        margin-bottom: 9px;
        font-family: Geometria;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 117.8%;
        letter-spacing: 0.1em;
        color: #fff;
    }
    .next-line{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 131px;
        height: 0px;
        border: 1px solid #fff;
        background: #fff;
    }
}
